<!DOCTYPE html>
<html>
<head>
<title>数据字典明细表</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../static/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../static/css/bootstrap-table.min.css">
<link rel="stylesheet" href="../../static/css/main.css">
<link rel="stylesheet" href="../../static/plugins/treegrid/jquery.treegrid.css">

<script src="../../static/libs/jquery.min.js"></script>
<script src="../../static/plugins/layer/layer.js"></script>
<script src="../../static/libs/bootstrap.min.js"></script>
<script src="../../static/libs/vue.min.js"></script>
<script src="../../static/libs/bootstrap-table.min.js"></script>
<script src="../../static/plugins/treegrid/jquery.treegrid.min.js"></script>
<script src="../../static/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
<script src="../../static/plugins/treegrid/jquery.treegrid.extension.js"></script>
<script src="../../static/plugins/treegrid/tree.table.js"></script>
<script src="../../static/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../static/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../static/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../static/js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<!-- <div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.key" @keyup.enter="query" placeholder="模糊查询">
			</div>
			<a class="btn btn-default" @click="query">查询</a>	 -->
			<a v-if="hasPermission('sys:dic:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('sys:dic:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('sys:dic:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>	
		</div>
	    <table id="dicTable" data-mobile-responsive="true" data-click-to-select="true">
			<thead>
			<tr>
				<th data-field="selectItem" data-checkbox="true"></th>
			</tr>
			</thead>
		</table>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">类型</div>
					<label class="radio-inline">
						<input type="radio" name="type" value="0" v-model="sysDic.type"/> 目录
					</label>
					<label class="radio-inline">
						<input type="radio" name="type" value="1" v-model="sysDic.type"/> 字典项
					</label>		
				</div>
				<div class="form-group">
				<div class="col-sm-2 control-label">上级目录</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" style="cursor:pointer;" v-model="sysDic.parentName" @click="directoryTree" readonly="readonly" placeholder="一级目录"/>
				</div>
				</div>
				<div v-if="sysDic.type == 0"  class="form-group">
					<div class="col-sm-2 control-label">字典名称</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="sysDic.name"
							placeholder="字典名称" />
					</div>
				</div>
				<div v-if="sysDic.type == 0"  class="form-group">
					<div class="col-sm-2 control-label">字典编码</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="sysDic.code"
							placeholder="字典编码" />
					</div>
				</div>
				<div v-if="sysDic.type == 1"  class="form-group">
					<div class="col-sm-2 control-label">项</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="sysDic.text"
							placeholder="项" />
					</div>
				</div>
				<div v-if="sysDic.type == 1"  class="form-group">
					<div class="col-sm-2 control-label">值</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="sysDic.value"
							placeholder="值" />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-2 control-label">排序</div>
					<div class="col-sm-10">
						<input type="number"  name="sortNo" class="form-control"  v-model="sysDic.sortNo" placeholder="排序号"/>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-2 control-label">启用状态</div>
					<label class="radio-inline"> <input type="radio"
						name="status" value="false" v-model="sysDic.status" /> 禁用
					</label> <label class="radio-inline"> <input type="radio"
						name="status" value="true" v-model="sysDic.status" /> 启用
					</label>
				</div>

				<div class="form-group">
					<div class="col-sm-2 control-label">备注</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="sysDic.remark"
							placeholder="备注" />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-2 control-label"></div>
					<input type="button" class="btn btn-primary" @click="saveOrUpdate"
						value="确定" /> &nbsp;&nbsp;<input type="button"
						class="btn btn-warning" @click="reload" value="返回" />
				</div>
			</form>
		</div>
</div>
<!-- 选择字典目录 -->
<div id="directoryLayer" style="display: none;padding:10px;">
	<ul id="directoryTree" class="ztree"></ul>
</div>
<script src="../../static/js/modules/sys/dic.js"></script>
</body>
</html>