<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>帮助说明</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../static/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../static/css/main.css">
<script src="../../static/libs/jquery.min.js"></script>
<script src="../../static/plugins/layer/layer.js"></script>
<script src="../../static/libs/bootstrap.min.js"></script>
<script src="../../static/libs/vue.min.js"></script>
<script src="../../static/libs/validator.min.js"></script>
<script src="../../static/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../static/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../static/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../static/js/common.js"></script>

<script src="../../static/libs/jquery.min.js"></script>
<script src="../../static/libs/FileSaver.js"></script>
<script src="../../static/libs/jquery.wordexport.js"></script>
 <title>api文档</title>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading" style="padding-top: 0px;height: 35px;" align="center"> &nbsp; <a href="javascript:void(0)" style="float: left;" class="word-export btn btn-danger"> 下载接口文档 </a></div>
    <div id="page-content" >
    <div  id="rrapp" v-cloak  v-show="showList"   style="width:800px; margin: 0 auto">
    		<div align="center">
    		<h1>{{info.title}}</h1>
    		<h2>接口开发文档</h2>
    		<br></br><br></br><br></br><br></br><br></br><br></br>
    		<h5>Host：{{info.host}}</h5>
    		<h5>根目录：{{info.basePath}}</h5>  		
    		<h5>版本：{{info.version}}</h5>		
    		<h5>作者：{{info.author}}</h5>
    		<h5>联系方式：{{info.email}}</h5>
    		<h5>生成时间：{{info.date}}</h5>
    		<h5>源码：{{info.termsOfService}}</h5>
    		<br></br>
    		 <div >
            <h5>规范说明：</h5>
            {{info.description}}
            <br></br><br></br>
            </div>
    		</div>
           <div  v-for="(h,i) in head" >
                <h2>{{i+1}}. {{h.description}}{{h.name}}</h2>
                <div  v-for="(b,j) in h.bodyList" >         
                <h3>{{i+1}}.{{j+1}}{{b.tag}}</h3> 
                <table border="1" cellspacing="0" cellpadding="0" width="100%" style="table-layout: fixed;">
                    <tr style="background-color: rgb(84, 127, 177);font-size: 12px; height: 20px;width: 100%;">
                        <td colspan="5">接口详情</td>
                    </tr>
                    <tr style="font-size: 12px; height: 20px;width: 100%;">
                        <td  align="center">接口描述</td>
                        <td colspan="4">{{b.description}}</td>
                    </tr>
                    <tr style="font-size: 12px; height: 20px;width: 100%;">
                        <td align="center">URL</td>
                        <td colspan="4">{{b.url}}</td>
                    </tr>
                    <tr style="font-size: 12px; height: 20px;width: 100%;">
                        <td align="center">请求方式</td>
                        <td colspan="4">{{b.requestType}}</td>
                    </tr>
                    <tr style="font-size: 12px; height: 20px;width: 100%;">
                        <td  align="center">请求类型</td>
                        <td colspan="4">{{b.requestForm}}</td>
                    </tr>
                    <tr style="font-size: 12px; height: 20px;width: 100%;">
                        <td  align="center">返回类型</td>
                        <td colspan="4">{{b.responseForm}}</td>
                    </tr>

                    <tr style="background-color: rgb(84, 127, 177);font-size: 12px; height: 20px;width: 100%;" align="center">
                        <td width="20%">参数名</td>
                        <td width="20%">数据类型</td>
                        <td width="20%">参数类型</td>
                        <td width="20%">是否必填</td>
                        <td width="20%">说明</td>
                    </tr>
                        <tr  v-for="req in b.requestList"  align="center" style="font-size: 12px; height: 20px;width: 100%;">
                            <td>{{req.name}}</td>
                            <td>{{req.type}}</td>
                            <td>{{req.paramType}}</td>
                            <td>
                            <label v-if="req.require == true" class="label label-danger"  style="padding: 0em;width: 100px">Y</label>
                            <label v-else="req.require == true" class="label label-danger" style="padding: 0em;width: 100px">N</label>
                            </td>
                            <td>{{req.remark}}</td>
                        </tr>
                    <tr style="background-color: rgb(84, 127, 177);font-size: 12px; height: 20px;width: 100%;" align="center">
                        <td>状态码</td>
                        <td>描述</td>
                        <td colspan="3">说明</td>
                    </tr>

                        <tr  v-for="res in b.responseList"  align="center" style="font-size: 12px; height: 20px;width: 100%;">
                            <td>{{res.name}}</td>
                            <td>{{res.description}}</td>
                            <td colspan="3">{{res.remark}}</td>
                        </tr>

                    <tr style="background-color: rgb(84, 127, 177);font-size: 12px; height: 20px;width: 100%;">
                        <td colspan="5">示例</td>
                    </tr>
                    <tr style="font-size: 12px; height: 40px;width: 100%;">
                        <td style="background-color: rgb(84, 127, 177);" align="center">请求参数</td>
                        <td colspan="4">{{b.requestParam}}</td>
                    </tr>
                    <tr style="font-size: 12px; height: 40px;width: 100%;">
                        <td style="background-color: rgb(84, 127, 177);word-wrap:break-word;word-break:break-all;"align="center" width="160 !important">返回值</td>
                        <td style="word-wrap:break-word;word-break:break-all;" colspan="4" width="640 !important">{{b.responseParam}}</td>
                    </tr>
                </table>
                <br>
            </div>
            </div>        
           
        </div>
        </div>
</div>
</body>

<script type="text/javascript">
jQuery(document).ready(function($) {
$("a.word-export").click(function(event) {
$("#page-content").wordExport("接口文档");
});
});
</script>
<script src="../../static/js/modules/sys/help.js"></script>
</html>