<!DOCTYPE html>
<html>
<head>
<title>系统日志</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../static/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../static/plugins/element-ui-2.3.9/lib/theme-chalk/index.css">
<link rel="stylesheet" href="../../static/css/main.css">
<script src="../../static/libs/jquery.min.js"></script>
<script src="../../static/plugins/layer/layer.js"></script>
<script src="../../static/libs/bootstrap.min.js"></script>
<script src="../../static/libs/vue.min.js"></script>
<script src="../../static/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../static/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../static/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../static/plugins/element-ui-2.3.9/lib/index.js"></script>
<script src="../../static/js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div>
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.key" @keyup.enter="query" placeholder="用户名,用户操作,请求方法">
			</div>
			<div class="form-group col-sm-1" style="width: auto;">		
			<select v-model="selected" class="form-control"  name="status" id="status" >
			 		<option value="">执行状态</option>
			      <option v-for="(item,index) in logStatus"  :value="item.value">{{ item.text }}</option>
			</select>
			</div>
			<template>
				<div class="block form-group col-sm-1"  style="width: auto;">
					<el-date-picker v-model="createDate" type="datetimerange" size="small" unlink-panels="false" value-format="yyyy-MM-dd HH:mm:ss"
						range-separator="至" start-placeholder="开始日期" :default-time="['00:00:00', '23:59:59']"
						end-placeholder="结束日期"> </el-date-picker>
				</div>			
			</template>
				<a class="btn btn-default" @click="query">查询</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
</div>

<script src="../../static/js/modules/sys/log.js"></script>
</body>
</html>