package ${package}.controller;

import java.util.List;
import java.util.Map;

import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.RestController;

import ${package}.dal.gen.model.${className};
import ${package}.api.smp.${className}Service;
import ${package}.common.utils.PageUtils;
import ${package}.common.utils.Query;
import ${package}.common.utils.JsonResponse;


/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@Api(value = "${comments}", description = "${comments}")
@RequestMapping("${pathName}")
public class ${className}Controller {
	@Autowired
	private ${className}Service ${classname}Service;
	
	/**
	 * 列表
	 */
	@ApiOperation(value = "列表")
	@RequestMapping("/list")
	@RequiresPermissions("${pathName}:list")
	public JsonResponse list(@RequestParam Map<String, Object> params){
		//查询列表数据
        Query query = new Query(params,${className}.class.getSimpleName());

		List<${className}> ${classname}List = ${classname}Service.queryList(query);
		int total = ${classname}Service.queryTotal(query);
		
		PageUtils pageUtil = new PageUtils(${classname}List, total, query.getLimit(), query.getPage());
		
		return JsonResponse.success().put("page", pageUtil);
	}
	
	
	/**
	 * 信息
	 */
    @ApiOperation(value = "查询信息")
	@RequestMapping("/info/{${pk.attrname}}")
	@RequiresPermissions("${pathName}:info")
	public JsonResponse info(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}){
		${className} ${classname} = ${classname}Service.queryObject(${pk.attrname});
		
		return JsonResponse.success().put("${classname}", ${classname});
	}
	
	/**
	 * 保存
	 */
	@ApiOperation(value = "保存")
	@RequestMapping("/save")
	@RequiresPermissions("${pathName}:save")
	public JsonResponse save(@RequestBody ${className} ${classname}){
		${classname}Service.save(${classname});
		
		return JsonResponse.success();
	}
	
	/**
	 * 修改
	 */
	@ApiOperation(value = "保存")
	@RequestMapping("/update")
	@RequiresPermissions("${pathName}:update")
	public JsonResponse update(@RequestBody ${className} ${classname}){
		${classname}Service.update(${classname});
		
		return JsonResponse.success();
	}
	
	/**
	 * 删除
	 */
	@ApiOperation(value = "删除")
	@RequestMapping("/delete")
	@RequiresPermissions("${pathName}:delete")
	public JsonResponse delete(@RequestBody ${pk.attrType}[] ${pk.attrname}s){
		${classname}Service.deleteBatch(${pk.attrname}s);
		
		return JsonResponse.success();
	}
	
}
