package ${package}.dao;

import ${package}.dal.gen.model.${module}.${className};
import ${package}.dal.gen.dao.BaseDao;


/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Dao extends BaseDao<${className}> {
	
}
