package ${package}.service.spi;

import org.springframework.stereotype.Service;
import ${package}.dal.gen.service.BaseServiceImpl;
import ${package}.dal.gen.model.${module}.${className};
import ${package}.api.${module}.${className}Service;



@Service("${classname}Service")
public class ${className}ServiceImpl extends BaseServiceImpl<${className}> implements ${className}Service {
	
	
}
