package ${package}.spi.${module};

import ${package}.dal.gen.model.${module}.${className};
import ${package}.dal.gen.service.BaseService;


/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends BaseService<${className}>{
	
	
}
